<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">View Authorized Date Started from</label>
        <div class="col-sm-7">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>

<div class="row">
    <h3>
        <p class="text-center"><strong>Detail COA Report</strong></p>
    </h3>
    <div id="print"></div>
    <table id="datatable" class="table table-striped table-bordered nowrap" colspan="0" width="100%">
        <thead>
            <tr>
                <th>No</th>
                <th>Ticket</th>
                <th>Service Name</th>
                <th>Description</th>
                <th>Unit Name</th>
                <th>PCBU</th>
                <th>Project</th>
                <th>Activities</th>
                <th>ACC</th>
                <th>OPU</th>
                <th>FUND</th>
                <th>Department</th>
                <th>Agent</th>
                <th>Donor</th>
                <th>(%)</th>
                <th>Value</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable({
            // searchDelay: 1000,
            scrollX: true,
            searching: false,
            // processing: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                processing: "<i class='fa fa-spin fa-refresh'></i>",
            },
            // serverSide: true,
            // ordering: false,
            bLengthChange: false,

        });


        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [{
                extend: 'excelHtml5',
                className: 'btn btn-success',
                text: 'Excel',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, {
                extend: 'pdfHtml5',
                className: 'btn btn-danger',
                text: 'PDF',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, ]
        }).container().appendTo($('#print'));
    });

    $('.input-daterange').datepicker();
</script>