<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label">Search</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="search">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">Ticket Completion Date From</label>
        <div class="col-sm-9">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;"></label>
        <div class="col-sm-9">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>

<div class="row">
    <h3>
        <p class="text-center"><strong>List of Completed Tickets*</strong></p>
    </h3>
    <div id="print"></div>
    <table id="datatable" class="table table-striped table-bordered nowrap" colspan="0" width="100%">
        <thead>
            <tr>
                <th style="width: 40px;">No</th>
                <th class="sort" field="transaction_code" title="Order by Transaction">Ticket ID</th>
                <th class="sort" field="service_name" title="Order by Service Name">Service Name</th>
                <th class="sort" field="glje_no" title="Order by GLJE Number">GLJE Number</th>
                <th class="sort" field="glje_date" title="Order by GLJE Date">GLJE Date</th>
                <th class="sort" field="invoice_no" title="Order by Invoice Number">Invoice Number</th>
                <th class="sort" field="invoice_date" title="Order by GLJE Number">Invoice Date</th>
                <th class="sort" field="service_price" title="Order by GLJE Number">Price</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable({
            // searchDelay: 1000,
            searching: false,
            scrollX: true,
            // processing: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                processing: "<i class='fa fa-spin fa-refresh'></i>",
            },
            // serverSide: true,
            // ordering: false,
            bLengthChange: false,

        });


        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [{
                extend: 'excelHtml5',
                className: 'btn btn-success',
                text: 'Excel',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, {
                extend: 'pdfHtml5',
                className: 'btn btn-danger',
                text: 'PDF',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, ]
        }).container().appendTo($('#print'));
    });

    $('.input-daterange').datepicker();
</script>