<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label">Country Office</label>
        <div class="col-sm-9">
            <select name="co" class="form-control select2" required>
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Service Unit</label>
        <div class="col-sm-9">
            <select name="su" class="form-control select2" required>
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Service</label>
        <div class="col-sm-9">
            <select name="service" class="form-control select2" required>
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Authorized Date from</label>
        <div class="col-sm-9">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Finished Date from</label>
        <div class="col-sm-9">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Search for </label>
        <div class="col-sm-9">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <button type="submit" class="btn btn-primary">Download</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('.input-daterange').datepicker();

        $('.select2').select2({
            placeholder: 'Select',
            allowClear: true
        });
    });
</script>