<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">View DSA Advanced Return Date Started from</label>
        <div class="col-sm-9">
            <div class="input-group input-daterange" id="date-range">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">As per date</label>
        <div class="col-sm-9">
            <div class="input-daterange">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Status</label>
        <div class="col-sm-9">
            <select name="status" class="form-control">
                <option></option>
                <option value="">All</option>
                <option value="2">Ongoing</option>
                <option value="5">Completed</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;"></label>
        <div class="col-sm-9">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>

<div class="row">
    <h3>
        <p class="text-center"><strong>DSA Advance *</strong></p>
    </h3>
    <div id="print"></div>
    <table id="datatable" class="table table-striped table-bordered nowrap" colspan="0" width="100%">
        <thead>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2" class="sort" field="name" title="Order by Person Name">Name</th>
                <th rowspan="2" class="sort" field="voucher" title="Order by Advanced Voucher No">Adv Voucher No</th>
                <th rowspan="2" class="sort" field="departure_date" title="Order by Departure Date">Departure Date</th>
                <th rowspan="2" class="sort asc" field="return_date" title="Order by Return Date">Return Date</th>
                <th rowspan="2" class="sort" field="settlement_date" title="Order by Settlement Date">Settlement Date</th>
                <th rowspan="2" class="sort" field="settlement_voucher" title="Order by Settlement Voucher">Settlement Voucher
                </th>
                <th rowspan="2" class="sort" field="transaction_code" title="Order by Ticket ID">Ticket No</th>
                <th colspan="4">Aging of Outstanding Advance (days)</th>
            </tr>
            <tr>
                <th>0-30</th>
                <th>31-60</th>
                <th>61-90</th>
                <th>&gt;90</th>
            </tr>
        </thead>
    </table>
</div>

<div class="row">
    <h3>
        <p class="text-center"><strong>DSA Advance With Unidentified Return Date</strong></p>
    </h3>
    <table id="unidentified" class="table table-striped table-bordered nowrap" colspan="0" width="100%">
        <thead>
            <tr>
                <th>No</th>
                <th title="Order by Person Name">Name</th>
                <th title="Order by Advanced Voucher No">Adv Voucher No</th>
                <th title="Order by Departure Date">Departure Date</th>
                <th title="Order by Return Date">Return Date</th>
                <th title="Order by Settlement Date">Settlement Date</th>
                <th title="Order by Settlement Voucher">Settlement Voucher</th>
                <th title="Order by Ticket ID">Ticket No</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="number">1</td>
                <td>Ade Swargo Mulyo</td>
                <td>211235</td>
                <td>-</td>
                <td></td>
                <td>08-Oct-2015</td>
                <td>v# 211277</td>
                <td>TID0000008283</td>
            </tr>
            <tr>
                <td class="number">2</td>
                <td>Intan Patricia</td>
                <td>00213690</td>
                <td>22-Nov-2015</td>
                <td></td>
                <td>07-Dec-2015</td>
                <td>00216390</td>
                <td>TID0000011642</td>
            </tr>
            <tr>
                <td class="number">3</td>
                <td>Verania Andria</td>
                <td>214240</td>
                <td>-</td>
                <td></td>
                <td>23-Dec-2015</td>
                <td>00214986</td>
                <td>TID0000012813</td>
            </tr>
            <tr>
                <td class="number">4</td>
                <td>Hendra Dwi Prasetya</td>
                <td>00216562</td>
                <td>09-Feb-2016</td>
                <td></td>
                <td>12-Apr-2016</td>
                <td>00218621</td>
                <td>TID0000016295</td>
            </tr>
            <tr>
                <td class="number">5</td>
                <td>ratih saraswati</td>
                <td>00235660</td>
                <td>20-Jul-2017</td>
                <td></td>
                <td>14-Sep-2017</td>
                <td>00236363</td>
                <td>TID0000029594</td>
            </tr>
            <tr>
                <td class="number">6</td>
                <td>Wahyuningsih Darajati</td>
                <td>00238730</td>
                <td>27-Oct-2017</td>
                <td></td>
                <td>21-Dec-2017</td>
                <td>00239851</td>
                <td>TID0000031338</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#Unidentified').DataTable({
            searching: false,
            scrollX: true,
            // processing: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                processing: "<i class='fa fa-spin fa-refresh'></i>",
            },
            // serverSide: true,
            // ordering: false,
            bLengthChange: false,
        });

        var table = $('#datatable').DataTable({
            // searchDelay: 1000,
            searching: false,
            scrollX: true,
            // processing: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                processing: "<i class='fa fa-spin fa-refresh'></i>",
            },
            // serverSide: true,
            // ordering: false,
            bLengthChange: false,

        });


        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [{
                extend: 'excelHtml5',
                className: 'btn btn-success',
                text: 'Excel',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, {
                extend: 'pdfHtml5',
                className: 'btn btn-danger',
                text: 'PDF',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, ]
        }).container().appendTo($('#print'));
    });

    $('.input-daterange input').each(function() {
        $(this).datepicker();
    });

    $('#date-range').datepicker();
</script>