<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">View Invoice Date Started from</label>
        <div class="col-sm-7">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="text-center">
        <strong>
            List of invoice issued and status of payments
        </strong>
    </div>
    <div id="print"></div>
    <table class="table table-striped table-bordered nowrap" id="datatable" colspan="0" width="100%">
        <thead>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">Invoice Number</th>
                <th rowspan="2">Invoice Date</th>
                <th rowspan="2">Agency Name</th>
                <th colspan="2">Total Service Fee</th>
                <th rowspan="2">Payment Date</th>
                <th rowspan="2">Due Date</th>
                <th colspan="2">Amount Paid</th>
                <th colspan="4">Aging of Receivables (days)</th>
            </tr>
            <tr>
                <th>USD</th>
                <th>IDR</th>
                <th>USD</th>
                <th>IDR</th>
                <th>0-30</th>
                <th>31-60</th>
                <th>61-90</th>
                <th>&gt;90</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function() {
        $(document).ready(function() {
            var table = $('#datatable').DataTable({
                // searchDelay: 1000,
                scrollX: true,
                searching: false,
                // processing: true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    processing: "<i class='fa fa-spin fa-refresh'></i>",
                },
                // serverSide: true,
                ordering: false,
                bLengthChange: false,
            });

            var buttons = new $.fn.dataTable.Buttons(table, {
                buttons: [{
                    extend: 'excelHtml5',
                    className: 'btn btn-success',
                    text: 'Excel',
                    init: function(api, node, config) {
                        $(node).removeClass('dt-button')
                    }
                }, {
                    extend: 'pdfHtml5',
                    className: 'btn btn-danger',
                    text: 'PDF',
                    init: function(api, node, config) {
                        $(node).removeClass('dt-button')
                    }
                }, ]
            }).container().appendTo($('#print'));
        });

        $('.input-daterange').datepicker();
    });
</script>