<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">Search Service Name or Unit Code by</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="search">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">View Completion Date Started from</label>
        <div class="col-sm-9">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;"></label>
        <div class="col-sm-9">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>

<div class="row">
    <h3>
        <p class="text-center"><strong>Performance report based on rating from client *</strong></p>
    </h3>
    <div id="print"></div>
    <table id="datatable" class="table table-striped table-bordered nowrap" colspan="0" width="100%">
        <thead>
            <tr>
                <th rowspan="2" style="width: 40px;">No</th>
                <th rowspan="2" class="sort" field="service_name" title="Order by Service Name">Service Name</th>
                <th rowspan="2" class="sort" field="agency_unit_code" title="Order by Service Unit">Service Unit</th>
                <th colspan="12" class="text-center">Rating</th>
            </tr>
            <tr>
                <th colspan="2" style="width: 75px;" class="sort" field="rate_0">Not rated yet</th>
                <th colspan="2" style="width: 75px;" class="sort" field="rate_1">Very Unsatisfied</th>
                <th colspan="2" style="width: 75px;" class="sort" field="rate_2">Unsatisfied</th>
                <th colspan="2" style="width: 75px;" class="sort" field="rate_3">Normal</th>
                <th colspan="2" style="width: 75px;" class="sort desc" field="rate_4">Satisfied</th>
                <th colspan="2" style="width: 75px;" class="sort" field="rate_5">Very Satisfied</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable({
            // searchDelay: 1000,
            searching: false,
            scrollX: true,
            // processing: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                processing: "<i class='fa fa-spin fa-refresh'></i>",
            },
            // serverSide: true,
            // ordering: false,
            bLengthChange: false,

        });


        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [{
                extend: 'excelHtml5',
                className: 'btn btn-success',
                text: 'Excel',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, {
                extend: 'pdfHtml5',
                className: 'btn btn-danger',
                text: 'PDF',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, ]
        }).container().appendTo($('#print'));
    });

    $('.input-daterange').datepicker();
</script>