<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label">Period Date Started from</label>
        <div class="col-sm-7">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="chart-container">
        <h3 class="text-center">
            <p><strong>Progress Of Critical Services</strong></p>
        </h3>
        <p class="text-center" style="font-size: 13px;">Period : 17-Jan-2020 to 17-Feb-2020</p>
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="row">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>HRU</th>
                <th>ICT</th>
                <th>FRMU</th>
                <th>PROC</th>
                <th>ADM</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Returned</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
            </tr>
            <tr>
                <td>New Request</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
            </tr>
            <tr>
                <td>On-going</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
            </tr>
            <tr>
                <td>Rejected</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
            </tr>
            <tr>
                <td>Completed</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
            </tr>
            <tr>
                <td>Cancelled</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
                <td class="number">0.00</td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
    <p>*) This report demonstrates number of critical service managed by service unit during specified period</p>
</div>

<script src="script/critical-chart.js"></script>
<script>
    $('.input-daterange').datepicker();
</script>