<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-2">Name</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Status</label>
        <div class="col-sm-10">
            <select name="status" class="form-control select2">
                <option></option>
                <option>All</option>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2"></label>
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>

<div class="row">
    <h3><p class="text-center"><strong>User Registration</strong></p></h3>
    <div id="print"></div>
    <table id="datatable" class="table table-striped table-bordered nowrap" colspan="0" width="100%">
        <thead>
            <tr>
                <th style="width: 40px;">No</th>
                <th class="sort" field="person_name" title="Order by Person Name">Person Name</th>
                <th class="sort" field="user_name" title="Order by Email">Email</th>
                <th class="sort" field="agency_code" title="Order by Agency Code">Agency</th>
                <th class="sort" field="unit_name" title="Order by Unit Name">Unit</th>
                <th class="sort" field="is_active" title="Order by Unit Name">Status</th>
                <th class="sort" field="date_created" title="Order by Registered Date">Registered Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="number">1</td>
                <td>Rizky Firmansyah</td>
                <td>mrizkyfirmansyah12345@gmail.com</td>
                <td>UNDP-IDN</td>
                <td>Procurement</td>
                <td>Inactive</td>
                <td>19-Jul-2016 11:03</td>
            </tr>
            <tr>
                <td class="number">2</td>
                <td>Syahrianda Syahrianda</td>
                <td>syahrianda@outlook.com</td>
                <td>UNDP-IDN</td>
                <td>Information CommunicationTechnology</td>
                <td>Inactive</td>
                <td>17-Mar-2017 10:19</td>
            </tr>
            <tr>
                <td class="number">3</td>
                <td>Martha Manurung</td>
                <td>martha.manurung@undp.org</td>
                <td>UNDP-IDN</td>
                <td>Environment Unit</td>
                <td>Inactive</td>
                <td>13-Nov-2018 14:40</td>
            </tr>
            <tr>
                <td class="number">4</td>
                <td>Sialana Abdul Syukur</td>
                <td>abdul.sialana@undp.org</td>
                <td>UNDP-IDN</td>
                <td>Democratic Governance and Poverty Reduction Unit</td>
                <td>Inactive</td>
                <td>24-Mar-2015 06:49</td>
            </tr>
            <tr>
                <td class="number">5</td>
                <td>Abraham L ALEMU</td>
                <td>lebezaalemu@gmail.com</td>
                <td>UNDP-HQ</td>
                <td>UNDP-HQ</td>
                <td>Inactive</td>
                <td>10-Apr-2016 14:35</td>
            </tr>
            <tr>
                <td class="number">6</td>
                <td>Facia Puspa Hazita</td>
                <td>facia.22112008@student.itera.ac.id</td>
                <td>RC Office</td>
                <td>Resident Coordinator's Office</td>
                <td>Inactive</td>
                <td>24-Apr-2017 16:13</td>
            </tr>
            <tr>
                <td class="number">7</td>
                <td>Adrianus Tanjung</td>
                <td>adrianus.tanjung@un.or.id</td>
                <td>UNOCHA</td>
                <td>Office for the Coordination of Humanitarian Affairs</td>
                <td>Inactive</td>
                <td>26-Aug-2016 14:04</td>
            </tr>
            <tr>
                <td class="number">8</td>
                <td>Hening Purwati</td>
                <td>hening.purwati@undp.org</td>
                <td>UNDP-IDN</td>
                <td>REDD+ Project</td>
                <td>Inactive</td>
                <td>30-May-2018 12:26</td>
            </tr>
            <tr>
                <td class="number">9</td>
                <td>Dewi Budhiwaskito</td>
                <td>dewi@ilo.org</td>
                <td>ILO</td>
                <td>International Labor Organization</td>
                <td>Inactive</td>
                <td>3-Nov-2015 10:31</td>
            </tr>
            <tr>
                <td class="number">10</td>
                <td>darwin bachtiar</td>
                <td>dbarida@indosat.net.id</td>
                <td>UNDP-IDN</td>
                <td>Procurement</td>
                <td>Inactive</td>
                <td>7-Aug-2015 09:51</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#datatable').DataTable({
            // searchDelay: 1000,
            scrollX: true,
            searching: false,
            // processing: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                processing: "<i class='fa fa-spin fa-refresh'></i>",
            },
            // serverSide: true,
            // ordering: false,
            bLengthChange: false,

        });


        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [{
                    extend: 'excelHtml5',
                    className: 'btn btn-success',
                    text: 'Excel',
                    init: function (api, node, config) {
                        $(node).removeClass('dt-button')
                    }
                },
                {
                    extend: 'pdfHtml5',
                    className: 'btn btn-danger',
                    text: 'PDF',
                    init: function (api, node, config) {
                        $(node).removeClass('dt-button')
                    }
                },
            ]
        }).container().appendTo($('#print'));
    });
</script>