<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">Search For</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="search">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">Search In</label>
        <div class="col-sm-9">
            <select name="search_in" class="form-control select2" required>
                <option ></option>
                <option value="all">All</option>
                <option value="service">Service Name</option>
                <option value="short_desc">Short Description</option>
                <option value="info_value">Info Value</option>
                <option value="buyer">Person Buyer Name</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">View Authorized Date Started from</label>
        <div class="col-sm-9">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;"></label>
        <div class="col-sm-9">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>

<div class="row">
    <h3>
        <p class="text-center"><strong>Search Engine</strong></p>
    </h3>
    <!-- <div id="print"></div> -->
    <table id="datatable" class="table table-striped table-bordered nowrap" width="100%">
        <thead>
            <tr>
                <th style="width: 40px;">No</th>
                <th class="sort" field="transaction_code" title="Order by Ticket ID">Ticket ID</th>
                <th class="sort" field="description" title="Order by Service Name">Service Name</th>
                <th class="sort" field="kode" title="Order by Service Name">Found At</th>
                <th class="sort" field="status_name" title="Order by Status">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="number">1</td>
                <td><a class="action-content" href="#" value="http://undponeclick.net/service_unit/service_unit/view_detail_history/114680">TID0000045477</a>
                </td>
                <td>Creation UNDP's email address for new recruit under UNDP' contract management - Lama Ahmad, PLJ Intern, Contract period up to March 2020</td>
                <td>buyer, info_value, service, short_desc, workflow</td>
                <td>On-going</td>
            </tr>

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable({
            // searchDelay: 1000,
            searching: false,
            scrollX: true,
            // processing: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                processing: "<i class='fa fa-spin fa-refresh'></i>",
            },
            // serverSide: true,
            // ordering: false,
            bLengthChange: false,

        });

    });

    $('.input-daterange').datepicker();

    $('.select2').select2({
        placeholder: 'Select',
        allowClear: true
    })
</script>