<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label">Finished Date Started from</label>
        <div class="col-sm-7">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="chart-container">
        <h3 class="text-center">
            <p><strong>TIMELINESS REPORT : Complition of Ticket *</strong></p>
        </h3>
        <p class="text-center" style="font-size: 13px;">Period : 17-Jan-2020 to 17-Feb-2020</p>
        <canvas id="myChart"></canvas>
    </div>
</div>
<div class="row" style="padding-top: 10px;">
    <div class="text-center">
        <strong>
            TIMELINESS REPORT : Completion of Workflow *
        </strong>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>HRU</th>
                <th>ICT</th>
                <th>FRMU</th>
                <th>PROC</th>
                <th>ADM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Most Frequent Delayed Process</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Most Longest Delayed Process</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Most Frequent On Time/Faster Process</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
    <p>*) This report demonstrates the most frequent on time/faster/delay workflow per service unit within specified period
    </p>
</div>

<script src="script/timeliness-chart.js"></script>
<script>
    $(document).ready(function() {
        $('.input-daterange').datepicker();
    });
</script>