<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label">Select Agency</label>
        <div class="col-sm-9">
            <select name="agen" class="form-control select2">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Select Service Category</label>
        <div class="col-sm-9">
            <select name="category" class="form-control select2">
                <option></option>
            </select>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div> -->
</form>

<div class="row text-center">
    <div class="btn-group m-b-20 ">
        <button type="button" class="btn waves-effect" style="background-color: #CFC;">On Time</button>
        <button type="button" class="btn waves-effect" style="background-color: #FCC;">Delay</button>
        <button type="button" class="btn btn-white waves-effect">Not Yet Processed</button>
    </div>
</div>

<div class="row">
    <h3>
        <!-- <p class="text-center"><strong>User Registration</strong></p> -->
    </h3>
    <div id="print"></div>
    <table id="datatable" class="table table-striped table-bordered nowrap" colspan="0" width="100%">
        <thead>
            <tr>
                <th> No </th>
                <th> Ticket No </th>
                <th> Short Description</th>
                <th> Start Date </th>
                <!-- Looping Service Workflow from Tr_Service_Workflow -->
                <th> Activity 1 <br></th>
                <th> Activity 2 <br></th>
                <th> Activity 3 <br></th>
                <th> Activity 4 <br></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TID0000037799</td>
                <td>VAT for Laptop Hendrik Olson</td>
                <td>24-Sep-2018</td>
                <td style="background-color: #CFC">
                    30-Oct-2018 <br>
                    Review supporting document and </td>
                <td style="background-color: #CFC">
                    08-Nov-2018 <br>
                    Setneg recommendation for VAT </td>
                <td style="background-color: #FCC">
                    Current (301 day(s)) <br>
                    Prepare letter and get aproval </td>
                <td style="background-color: #FCC">
                    (325 day(s)) <br>
                    Receive VAT exemption/restitut </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table = $('#datatable').DataTable({
            // searchDelay: 1000,
            scrollX: true,
            searching: false,
            // processing: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                processing: "<i class='fa fa-spin fa-refresh'></i>",
            },
            // serverSide: true,
            // ordering: false,
            bLengthChange: false,

        });


        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [{
                    extend: 'excelHtml5',
                    className: 'btn btn-success',
                    text: 'Excel',
                    init: function (api, node, config) {
                        $(node).removeClass('dt-button')
                    }
                },
                // {
                //     extend: 'pdfHtml5',
                //     className: 'btn btn-danger',
                //     text: 'PDF',
                //     init: function (api, node, config) {
                //         $(node).removeClass('dt-button')
                //     }
                // },
            ]
        }).container().appendTo($('#print'));
    });

    $('.select2').select2({
        placeholder: 'Select',
        allowCleat: true
    });
</script>