<form class="form-horizontal m-b-10" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label" style="padding-top: 0px;">
            View Service Date Started from</label>
        <div class="col-sm-7">
            <div class="input-group input-daterange">
                <input type="text" class="form-control">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary">Show Report</button>
        </div>
    </div>
</form>

<div class="row">
    <h3>
        <p class="text-center"><strong>Workload Analysis *</strong></p>
    </h3>
    <div id="print"></div>
    <table id="datatable" class="table table-striped table-bordered nowrap" colspan="0" width="100%">
        <thead>
            <tr>
                <th>No</th>
                <th class="sort" field="person_name" title="Order by Person Name">Person Name</th>
                <th class="sort" field="unit_name" title="Order by Service Name">Service Unit</th>
                <th class="sort" field="service" title="Order by Number of Ticket">Number of Ticket</th>
                <th class="sort" field="workflow" title="Order by Workflow">Number of Workflow</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="number">1</td>
                <td>Benjamin John</td>
                <td>Procurement</td>
                <td class="number">6</td>
                <td class="number">6</td>
            </tr>
            <tr>
                <td class="number">2</td>
                <td>Linda Hartono</td>
                <td>Financial Resource Management Unit</td>
                <td class="number">2</td>
                <td class="number">2</td>
            </tr>
            <tr>
                <td class="number">3</td>
                <td>Dewi Zamira</td>
                <td>Financial Resource Management Unit</td>
                <td class="number">5</td>
                <td class="number">5</td>
            </tr>
            <tr>
                <td class="number">4</td>
                <td>Dewi Endro Darsono</td>
                <td>Human Resource</td>
                <td class="number">1</td>
                <td class="number">1</td>
            </tr>
            <tr>
                <td class="number">5</td>
                <td>Joyce Sinaga</td>
                <td>Human Resource</td>
                <td class="number">34</td>
                <td class="number">34</td>
            </tr>
            <tr>
                <td class="number">6</td>
                <td>Udi Setiawan</td>
                <td>Administration Unit</td>
                <td class="number">5</td>
                <td class="number">5</td>
            </tr>
            <tr>
                <td class="number">7</td>
                <td>Mulyana Ramadhan</td>
                <td>Common Service Unit</td>
                <td class="number">1</td>
                <td class="number">1</td>
            </tr>
            <tr>
                <td class="number">8</td>
                <td>Lis Irawati</td>
                <td>Financial Resource Management Unit</td>
                <td class="number">3</td>
                <td class="number">3</td>
            </tr>
            <tr>
                <td class="number">9</td>
                <td>Oning Pradjawisastra</td>
                <td>Financial Resource Management Unit</td>
                <td class="number">1</td>
                <td class="number">1</td>
            </tr>
            <tr>
                <td class="number">10</td>
                <td>Kusma Sukmabrata</td>
                <td>Financial Resource Management Unit</td>
                <td class="number">19</td>
                <td class="number">19</td>
            </tr>
        </tbody>
    </table>
    <p>*) This report demonstrates ticket reference and workflow which are completed by each Person in Charge within specified period</p>
</div>

<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable({
            // searchDelay: 1000,
            scrollX: true,
            searching: false,
            // processing: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                processing: "<i class='fa fa-spin fa-refresh'></i>",
            },
            // serverSide: true,
            // ordering: false,
            bLengthChange: false,

        });


        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [{
                extend: 'excelHtml5',
                className: 'btn btn-success',
                text: 'Excel',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, {
                extend: 'pdfHtml5',
                className: 'btn btn-danger',
                text: 'PDF',
                init: function(api, node, config) {
                    $(node).removeClass('dt-button')
                }
            }, ]
        }).container().appendTo($('#print'));
    });

    $('.input-daterange').datepicker();
</script>